@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Remove highlight of btns when clicked on mobile Chrome browser */
*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

* {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;
  outline: none !important;
}

/* Remove spin button from input with number style  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

html {
  font-size: 62.5%;
}

body {
  min-width: 32rem;
  font-size: 1.6rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    to bottom right,
    rgba(61, 29, 162, 1),
    rgba(54, 202, 123, 1)
  );
}

main {
  display: flex;
  flex-basis: 112rem;
  margin-inline: 3.2rem;
  border-radius: 0.8rem;
  box-shadow: 1rem 1rem 3rem rgba(51, 51, 51, 0.5);
  overflow: hidden;
  position: relative;
}

h1,
h2,
p {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4.8rem;
  color: rgb(41, 41, 41);
}

.player-active h1 {
  color: rgb(32, 32, 32);
}

h2 {
  font-size: 1.7rem;
  font-weight: 300;
  color: rgb(220, 220, 220);
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.player {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  flex-basis: 50%;
  padding: 5rem 1rem;
}

.player-active {
  background-color: rgb(255, 255, 255, 0.3);
}

.score {
  font-size: 8.5rem;
  color: rgb(40, 90, 130);
  margin-block: 4rem 12rem;
}

.current-score {
  font-size: 3.5rem;
  color: rgb(230, 230, 230);
}

.current-box {
  background-color: rgb(40, 110, 150);
  max-width: max-content;
  padding: 1.5rem 4rem;
  margin-inline: auto;
  border-radius: 0.8rem;
}

.btn,
.apply-settings-btn,
.reset-settings-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(58, 58, 58);
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 1;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active,
.settings-btn:active {
  transition-duration: 0.15s;
  box-shadow: 0 0.4rem 1rem rgba(51, 51, 51, 0.2);
}

.btn:active {
  transform: translate(-50%, 5%);
}

.apply-settings-btn:active,
.reset-settings-btn:active {
  transform: translate(0, 5%);
}

.btn,
.dice {
  position: absolute;
}

.new-game-btn {
  top: 2.5rem;
}

.roll-dice-btn {
  top: 37.5rem;
  right: 50%;
  transform: translate(50%);
}

.roll-dice-btn:active {
  transform: translate(50%, 5%);
}

.hold-btn {
  top: 43.5rem;
}

.dice {
  width: 7.5rem;
  height: auto;
  top: 17.5rem;
  left: 50%;
  transform: translate(-50%);
}

.new-game-btn,
.hold-btn {
  left: 50%;
  transform: translate(-50%);
}

.new-game-btn:before,
.roll-dice-btn:before,
.hold-btn:before {
  content: '';
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.new-game-btn:before {
  background-image: url('img/new-game.png');
}

.roll-dice-btn:before {
  background-image: url('img/roll-dice.png');
}

.hold-btn:before {
  background-image: url('img/hold.png');
}

h1,
h2,
p,
.player,
.current-box,
.btn,
.winner-img-0,
.winner-img-1,
.settings-icon,
.settings {
  transition: all 0.5s ease-in-out;
}

.settings-icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  top: 2.5rem;
  left: 2.5rem;
  cursor: pointer;
  z-index: 99;
  padding: 1rem;
}

.settings-icon-line {
  width: 2.5rem;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.settings-icon-line:nth-of-type(1).closed {
  transform: rotate(45deg) translate(5px, 5px);
}

.settings-icon-line:nth-of-type(2).closed {
  opacity: 0;
}

.settings-icon-line:nth-of-type(3).closed {
  transform: rotate(-45deg) translate(5px, -5px);
}

/*-------------------------------------------------------------------------*/
/* ADDED WITH JS */
/*-------------------------------------------------------------------------*/
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* This class is used when dice is fading in (removing class 'hidden') after settings menu is closed, so dice will use this transition settings */
.fade-in-transition {
  transition: opacity 0.5s ease-in-out;
}

.player.quick-sliding {
  transition-duration: 0s;
  animation-duration: 1s;
}

.removed {
  display: none;
}

.player-winner {
  background-color: rgb(43, 43, 43);
}

.player-winner h1 {
  color: rgb(240, 210, 20);
}

.winner-img-0,
.winner-img-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 17rem;
}

.highlighted {
  color: rgb(44, 44, 44);
  background-color: rgba(255, 255, 255, 0.4);
  text-shadow: 0.1rem 0.1rem 1rem rgb(255, 255, 255);
}

.rotating.new-game-btn:before,
.rotating.roll-dice-btn:before,
.rotating.hold-btn:before {
  transform: rotate(360deg);
  transition-duration: 0.7s;
}

.dice.rotating {
  transform: translate(-50%) rotate(360deg);
  transition-duration: 0.7s;
}

.dice.rotating-start {
  transform: translate(-50%) rotate(360deg);
  transition-duration: 2.5s;
  transition-timing-function: ease-in-out;
}

.slide-from-top {
  animation: slideFromTop;
}

.slide-from-bottom {
  animation: slideFromBottom;
}

.slide-from-left {
  animation: slideFromLeft;
}

.slide-from-right {
  animation: slideFromRight;
}

.slide-to-top {
  animation: slideToTop;
}

.slide-to-bottom {
  animation: slideToBottom;
}

.slide-to-left {
  animation: slideToLeft;
}

.slide-to-right {
  animation: slideToRight;
}

.slide-from-top,
.slide-from-bottom,
.slide-from-left,
.slide-from-right,
.slide-to-top,
.slide-to-bottom,
.slide-to-left,
.slide-to-right {
  animation-fill-mode: forwards;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}

.hidden-on-top {
  transform: translateY(-100%);
}

.hidden-on-bottom {
  transform: translateY(100%);
}

.hidden-on-left {
  transform: translateX(-100%);
}

.hidden-on-right {
  transform: translateX(100%);
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  margin-inline: auto;
  max-width: 400px;
  z-index: 9;
}

.settings h1 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: 3rem;
}

.settings h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  margin-block: 2rem 3rem;
}

.settings label {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  gap: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.settings input,
.settings input:hover,
.settings input:active,
.settings input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
  font-size: 2rem;
  font-family: 'Ubuntu';
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: rgba(35, 35, 35, 0.9);
  position: relative;
  max-width: 18.7rem;
}

.winning-score-box {
  display: flex;
}

.settings label.winning-score {
  margin-right: 1rem;
  margin-bottom: 0;
}

.settings .winning-score input {
  max-width: 6rem;
}

.score-less-btn,
.score-more-btn {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1;
  padding: 1.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.score-less-btn {
  background-image: url('img/down-arrow.png');
}

.score-more-btn {
  background-image: url('img/up-arrow.png');
}

.settings-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
}

.warning-0,
.warning-1,
.warning-score {
  font-size: 1.3rem;
  color: rgb(140, 20, 20);
  position: absolute;
  left: 9rem;
  top: 2.3rem;
  text-align: left;
}

.warning-score {
  left: 11rem;
}

/*-------------------------------------------------------------------------*/
/* ANIMATIONS */
/*-------------------------------------------------------------------------*/
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideToTop {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideToBottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

/*-------------------------------------------------------------------------*/
/* MEDIA QUERIES */
/*-------------------------------------------------------------------------*/

@media screen and (max-width: 60em /*960px*/) {
  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .score {
    font-size: 7.5rem;
  }

  .current-score {
    font-size: 2.5rem;
  }

  .current-box {
    padding: 1rem 3rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.4rem 1.2rem;
    gap: 0.8rem;
  }

  .roll-dice-btn {
    top: 35rem;
  }

  .hold-btn {
    top: 40rem;
  }

  .new-game-btn:before,
  .roll-dice-btn:before,
  .hold-btn:before {
    width: 2.7rem;
    height: 2.7rem;
  }

  .dice {
    width: 6.5rem;
    top: 16rem;
  }

  /*----------------*/
  /* ADDED WITH JS */
  /*----------------*/
  .winner-img-0,
  .winner-img-1 {
    max-width: 14rem;
  }

  .settings h2 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 46.875em /*750px*/) {
  main {
    flex-wrap: wrap;
    margin-inline: 2rem;
  }

  .player {
    flex-basis: 100%;
    padding-bottom: 4rem;
  }

  .score {
    margin-block: 0rem 3rem;
  }

  .btn,
  .dice {
    top: 50%;
  }

  .dice {
    width: 5.5rem;
  }

  .new-game-btn {
    top: 1.5rem;
  }

  .roll-dice-btn {
    transform: translate(0, -50%);
    right: 2rem;
  }

  .hold-btn {
    transform: translate(0, -50%);
    left: 2rem;
  }

  .roll-dice-btn:active,
  .hold-btn:active {
    transform: translate(0, -45%);
  }

  .dice {
    transform: translate(-50%, -50%);
  }

  /*----------------*/
  /* ADDED WITH JS */
  /*----------------*/
  .dice.rotating {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  .dice.rotating-start {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  .winner-img-0,
  .winner-img-1 {
    top: 55%;
  }

  .settings h2 {
    margin-block: 9rem 5rem;
  }
}

@media screen and (max-width: 33.125em /*530px*/) {
  main {
    margin-inline: 1rem;
  }

  .btn {
    padding: 0.3rem 0.7rem;
    gap: 0.5rem;
  }

  .current-box {
    padding: 0.7rem 1.2rem;
  }

  .roll-dice-btn {
    right: 1rem;
  }

  .hold-btn {
    left: 1rem;
  }

  /*----------------*/
  /* ADDED WITH JS */
  /*----------------*/
  .winner-img-0,
  .winner-img-1 {
    max-width: 12rem;
  }
}

@media screen and (max-width: 24.375em /*390px*/) {
  main {
    margin-inline: 0.5rem;
  }

  .btn {
    padding: 0.3rem 0.5rem;
    gap: 0.2rem;
  }

  .roll-dice-btn {
    right: 0.5rem;
  }

  .hold-btn {
    left: 0.5rem;
  }
}
